@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&family=Poppins&display=swap');
 
 
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #f4bb00;
    font-family: 'PT Sans', sans-serif;
 
}
body{
    background-color: #000000;
}
html,body{
    scroll-behavior: smooth;
}
 
 
 
/* Skrol na gore dugme */
 
.to-top div{
    color: black;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-self: center;
}
 
.to-top{
    background-color: #f4bb00;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    transition: all .4s; 
    border: solid gray 0.5px;
 
}
 
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
 
/* TRAKA ZA NAVIGACIJU */
.nav-linkovi a {
    color: black;
}
 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #000000;
    z-index: 2;
    border-bottom:solid #f4bb00 1px;    
 
}

.logo img:hover{
    box-shadow: 0px 0px 5px #f4bb00;
}

.logo img{
    width: 40px;
    height: 40px;
 
}
 
.nav-linkovi li{
    list-style: none;
}
 
.nav-linkovi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 50%;
}
 
.nav-linkovi a:hover{
    background-color: #FFD28F;
    color: gray;
}
 
.nav-linkovi a:active{
    filter: blur(1px);
}
 
.nav-linkovi a{
    font-weight: bold;
    padding: 8px;
    background-color: #f4bb00;
    color: whihte;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 14px;
}
 
/* burger meni za mobile-view */

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: #f4bb00;
 
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 
 
/* responzivnost tablet */
@media screen and (max-width:1024px){
 
       
 
        iframe{
            width: 20rem;
            height: 20rem;
        }
 
        .nav-linkovi{
            width: 80%;
        }
     
        #kontakt-media{
            width: 100%;
        }
     
        #forma{
            width: 90%;
        }
     
        .pointer{
            max-width: 100%;
            height: auto;
        }
     
        .vodoinstalater12 img{
            max-width: 90%;
        }
     
        .elektricari12 img{
            max-width: 90%;
        }
     
        .moleri12 img{
            max-width: 90%;
        }

}

/* responzivnost telefon */
@media screen and (max-width:768px){
 
    nav{
        position: fixed; 
        top: 0; 
        width: 100%; 
        
    }

    .main {
        margin-top: 30px;
      }

    .burger{
        display: block;
    }

    .nav-linkovi{
        position: fixed;
        left: -100%;
        height: 50%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
        
    }

    .nav-linkovi.active{
        left: 0;
        border: solid #f4bb00 1px;
    }

    #forma{
        max-width: 100%;
    }
 
    .vodoinstalater12 img{
        max-width: 90%;
    }
 
    .elektricari12 img{
        max-width: 90%;
    }
    
    .moleri12 img{
        max-width: 90%;
    }
    
    .osoba p{
        padding: 20px 0;
    }
    
}



/* POCETNA */
.cover{
    overflow: hidden;
}
 
 
 #mapa{
    display: flex;
 
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
}
 
.mapa-naslov{
    align-self: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
 
#o-nama {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding:0 100px;
}
 
#o-nama h2{
    padding-bottom: 20px;
}
 
.cover::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url("../img/landing_cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
    z-index: 1;
    
 
}
 
.cover:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
 
}
 
.cover:hover .content{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
 
.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1s;
}
 
.content .cover-title {
    color: #f4bb00;
    text-shadow: 2px 2px black;
    font-size: 40px;
    line-height: 2;
}
 
.cover-mini-title{
    color: #f4bb00;
    text-shadow: 2px 2px black;
}
 
 
.content .logo {
    height: 140px;
    width: 140px;
  }
 
.okvir{
    border: solid #f4bb00 5px;
    line-height: 0;
}
 
 
.ocene-naslov{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
 
 .ocene-flex{
    display: flex;
    flex-wrap: wrap;
} 
 
 .osoba{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   align-items: center;
} 
 
.osoba p{
    text-align: center;
}
 
.osoba img{
    border: solid #f4bb00 3px;
}
 
.slika-osoba{
    height: 200px;
    width: 200px;
    padding: 8px;
}
 
.osoba h3{
    padding:15px 0;
}

 
/* POCETNA-KRAJ */

/* USLUGE */

.vodoinstalateri{
    text-align: center;
    margin: 15px;
}

.elektricari{
    text-align: center;
    margin: 15px;
}

.moleri{
    text-align: center;
    margin: 15px;
}
 
#vodoinstalateri{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#elektricari{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#moleri{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pointer{
    cursor: pointer;
}

.tooltip img{
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    bottom: 0;
    left: 0;
}
 
.vodoinstalater12{
    position: relative;
    margin: 50px;
}

.elektricari12{
    position: relative;
    margin: 50px;
}

.moleri12{
    position: relative;
    margin: 50px;
}

/* USLUGE-KRAJ */


/* STRANA RECENZIJE */
/* responzivnost za recenzije za telefon */
@media screen and (max-width:485px){
    .rec-tekst{
        max-width: 100%; 
        font-size: 15px !important;
    }
}

.checked {
    color: white;
}
 
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 400px;
    height: 200px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #f4bb00;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
 
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.rec-tekst{
    text-align: center;
    font-size: 12px !important;
    max-width: 100% !important;
    color: #4b4b4b;
    padding-bottom: 40px;
}
.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

::selection{
    color: #ffffff;
    background-color: #252525;
}

/* RECENZIJE-KRAJ */
 


 
/* KONTAKTI */
 
div label{
    color: #000000;
}
 
select{
    padding: 5px;
    color: black;
}
 
textarea{
    color: grey;
}

div form{
    background-color: #FFE3BB;
    top: 50%;
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
}
 
div form textarea{
    resize: none;
}
#kontakt-h2{
    text-align: center;
    margin: 10px;
    color: black;
}

button{
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 5px;
}

main{
    flex-grow: 1;
}

#kontakt-h2{
    padding-top: 20px;
    color: #f4bb00;
}

/* KONTAKTI- KRAJ */

footer{
    background-color: inherit;
    border-top: solid #f4bb00 2px;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: relative;
    right: 0;
    left: 0;
    margin: 0;
}